.top-podcasts {
  & .header {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(242, 10%, 20%);
    position: sticky;
    z-index: 100;
    top: 50px;
    background: rgba(22, 23, 39, 0.98);
  }

  .no-results {
    margin: 0 auto;
  }

  & #right-arrow {
    margin-right: 10px;
  }

  & .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100% !important;
    gap: 20px 0px;
    margin-left: 15px;
    margin-top: 15px;
  }

  & .result-container {
    & img {
      border-radius: 3px;
    }
  }

  & .results-section {
    padding-bottom: 5px;
    direction: ltr;
    transition: scroll 0.3s ease-in-out;
    height: 280px;

    & > div {
      min-width: 195px;
      max-width: 195px;

      & .name {
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 2px;
      }

      & .author {
        color: rgb(227, 189, 113);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  & .bottom-info {
    .dropdown {
      margin-right: -10px;

      img {
        opacity: 0.5;
      }

      &.dropdown:hover {
        img {
          opacity: 1;
        }
      }
      & .dropdown-content {
        transform: translateY(-200px);

        &.dropdown-content::after {
          bottom: -10px;
          border-bottom-color: transparent;
          border-top-color: hsl(279, 23%, 46%);
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .results-section:hover::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(236, 15%, 22%);
    margin-top: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #404080;
    border-radius: 20px;
  }
}
