.left-sidebar {
  @media screen and (max-width: 768px) {
    & .drawer-side {
      border-right: none !important;
    }
  }
  & .drawer-side {
    width: 225px !important;
    border-right: 1px solid hsl(242, 10%, 20%);

    & .section-header {
      margin-bottom: 5px;
      margin-left: 10px;
      color: rgb(163, 163, 168);
    }

    & ul {
      background-color: rgba(0, 0, 0, 0.1);
    }

    li {
      > a {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        img {
          height: 16px;
        }
      }

      & a:hover,
      p:hover {
        background: unset;
      }
      & a:hover {
        color: rgba(255, 255, 255, 0.75);
      }
      & a::before {
        content: '';
        position: absolute;
        inset: -3px 0px -3px -10px;
        z-index: -1;
        background: rgba(255, 255, 255, 0);
        transition: background 150ms ease 0s;
      }
    }

    li:last-child {
      position: absolute;
      bottom: 0;
    }

    & .sidebar-footer {
      color: rgb(119, 119, 119);
      line-height: 1.6em;
      transition: color 150ms ease 0s;
    }
  }

  a:hover::before {
    filter: blur(10px);
    background: radial-gradient(
      50% 25% at 0% 50%,
      rgba(77, 174, 232, 0.2) 0%,
      rgba(19, 241, 255, 0) 100%
    ) !important;
  }

  .main-content {
    margin-top: 60px;
  }
}
