.top-episodes {
  & .header {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(242, 10%, 20%);
  }

  @media screen and (max-width: 768px) {
    & .results-grid {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    & .name {
      max-width: 100% !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    & .results-grid {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    & .name {
      max-width: 150px !important;
    }
  }

  & .results-grid {
    gap: 15px;
  }

  & .result-container:hover {
    background: rgba(0, 0, 0, 0.4);

    & .dropdown {
      & img {
        opacity: 1;
      }
    }
  }

  & .result-container {
    padding: 5px 5px 2px;
    border-bottom: 1px solid hsl(242, 10%, 20%);

    & .name {
      color: white;
      text-decoration: none;
      max-width: 150px;
    }

    & .author {
      text-decoration: none;
      color: rgb(207, 129, 99);
    }

    & .dropdown {
      width: 30px;

      & img {
        opacity: 0.25;
      }
    }
  }
}
